In [1]:
import pandas as pd
from cleaning_functions.cuisine_column import clean_cuisine_column
from cleaning_functions.cost_column import clean_cost_column
from cleaning_functions.coordinates_columns import coordinates_generator
from cleaning_functions.name_column import clean_name_column
from cleaning_functions.phone_column import clean_phone_column
from cleaning_functions.drop_columns import drop_columns
from cleaning_functions.drop_indexes import drop_empty_rows
from cleaning_functions.rates_column import clean_rates
df = pd.read_csv("zomato.csv")

In [2]:
def clean_dataframe(df):

    clean_cuisine_column(df)
    clean_cost_column(df)
    coordinates_generator(df)
    clean_name_column(df)
    clean_phone_column(df)
    clean_rates(df)
    drop_columns(df)
    drop_empty_rows(df)
    

    return df


  
if __name__ == '__main__':
    clean_dataframe(df)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51672 entries, 0 to 51716
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   url        51672 non-null  object
 1   address    51672 non-null  object
 2   name       51672 non-null  object
 3   rate       41654 non-null  float64
 4   votes      51672 non-null  int64
 5   phone      51672 non-null  object
 6   location   51672 non-null  object
 7   cuisines   51672 non-null  object
 8   cost       51672 non-null  object
 9   latitude   51672 non-null  float64
 10  longitude  51672 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 4.7+ MB

In [4]:
df["rate"].unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4. , 4.2, 3.9, 3.1, 3. , 3.2, 3.3, 2.8,
       4.4, 4.3, nan, 2.9, 3.5, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2,
       2.3, 4.8, 4.9, 2.1, 2. , 1.8])

In [5]:
df["phone"].tail(20)

51697      08067266655, 08049626655
51698                   08068141414
51699    917676924054, 919137153744
51700    917338630404, 918067266651
51701                  918929188573
51702                  009108214702
51703    918043691111, 918028026519
51704    919900069474, 917899644468
51705    917625087121, 918050587483
51706                  919740571131
51707                   08049435000
51708     08039451000, 918884038484
51709    919980121279, 919900240646
51710                  919148155994
51711                   08065951222
51712                   08040301477
51713                  918197675843
51714                     No number
51715                   08049652769
51716                  918071117272
Name: phone, dtype: object

In [6]:
df["cost"].unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1200', '350', '250',
       '950', '1000', '1500', '1300', '199', '80', '1100', '160', '1600',
       '230', '130', '50', '190', '1700', 'nan', '1400', '180', '1350',
       '2200', '2000', '1800', '1900', '330', '2500', '2100', '3000',
       '2800', '3400', '40', '1250', '3500', '4000', '2400', '2600',
       '120', '1450', '469', '70', '3200', '60', '560', '240', '360',
       '6000', '1050', '2300', '4100', '5000', '3700', '1650', '2700',
       '4500', '140'], dtype=object)

In [7]:
df["cuisines"].head()

0    [North Indian, Mughlai, Chinese]
1       [Chinese, North Indian, Thai]
2            [Cafe, Mexican, Italian]
3        [South Indian, North Indian]
4          [North Indian, Rajasthani]
Name: cuisines, dtype: object

In [8]:
df["latitude"].head(10)

0    12.969607
1    12.966603
2    12.961963
3    12.966175
4    12.940798
5    12.946532
6    12.948586
7    12.961597
8    12.968006
9    12.968971
Name: latitude, dtype: float64