In [13]:
import pandas as pd
from cleaning_functions.cuisine_column import clean_cuisine_column
from cleaning_functions.cost_column import clean_cost_column
from cleaning_functions.coordinates_columns import coordinates_generator
from cleaning_functions.name_column import clean_name_column
from cleaning_functions.phone_column import clean_phone_column
df = pd.read_csv("zomato.csv")

In [14]:
def clean_dataframe():

    clean_cuisine_column(df)
    clean_cost_column(df)
    coordinates_generator(df)

    
if __name__ == '__main__':
    clean_dataframe()

In [15]:
# neccesary to overwrite dataframe due to use of drop method
df = clean_name_column(df)
df = clean_phone_column(df)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   url              51717 non-null  object
 1   address          51717 non-null  object
 2   name             51717 non-null  object
 3   online_order     51717 non-null  object
 4   book_table       51717 non-null  object
 5   rate             43942 non-null  object
 6   votes            51717 non-null  int64
 7   phone            51717 non-null  object
 8   location         51696 non-null  object
 9   rest_type        51490 non-null  object
 10  dish_liked       23639 non-null  object
 11  cuisines         51672 non-null  object
 12  cost             51717 non-null  object
 13  reviews_list     51717 non-null  object
 14  menu_item        51717 non-null  object
 15  listed_in(type)  51717 non-null  object
 16  listed_in(city)  51717 non-null  object
 17  latitude         51696 non-null  float64
 18  longitude        51696 non-null  float64
dtypes: float64(2), int64(1), object(16)
memory usage: 7.5+ MB

In [17]:
df["cost"].unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1200', '350', '250',
       '950', '1000', '1500', '1300', '199', '80', '1100', '160', '1600',
       '230', '130', '50', '190', '1700', 'nan', '1400', '180', '1350',
       '2200', '2000', '1800', '1900', '330', '2500', '2100', '3000',
       '2800', '3400', '40', '1250', '3500', '4000', '2400', '2600',
       '120', '1450', '469', '70', '3200', '60', '560', '240', '360',
       '6000', '1050', '2300', '4100', '5000', '3700', '1650', '2700',
       '4500', '140'], dtype=object)

In [18]:
df["cuisines"].head()

0    [North Indian, Mughlai, Chinese]
1       [Chinese, North Indian, Thai]
2            [Cafe, Mexican, Italian]
3        [South Indian, North Indian]
4          [North Indian, Rajasthani]
Name: cuisines, dtype: object

In [19]:
df["latitude"].head(10)

0    12.968673
1    12.967533
2    12.966980
3    12.963456
4    12.945851
5    12.945786
6    12.946397
7    12.963218
8    12.967346
9    12.962961
Name: latitude, dtype: float64

In [20]:
import random
z = round(random.uniform(-0.005,0.005),6)
# y = round(random.uniform(-0.005,0.005),3)
z

0.002176

In [21]:
df["phone"].tail(10)

51707                   08049435000
51708     08039451000, 918884038484
51709    919980121279, 919900240646
51710                  919148155994
51711                   08065951222
51712                   08040301477
51713                  918197675843
51714                     No number
51715                   08049652769
51716                  918071117272
Name: phone, dtype: object

In [22]:
df['name'].head(15)

0                                               Jalsa
1                                      Spice Elephant
2                                     San Churro Cafe
3                               Addhuri Udupi Bhojana
4                                       Grand Village
5                                     Timepass Dinner
6     Rosewood International Hotel - Bar & Restaurant
7                                              Onesta
8                                      Penthouse Cafe
9                                           Smacznego
10                                Caf√© Down The Alley
11                                       Cafe Shuffle
12                                   The Coffee Shack
13                                         Caf-Eleven
14                                    San Churro Cafe
Name: name, dtype: object