In [1]:
import pandas as pd
from cleaning_functions.cuisine_column import clean_cuisine_column
from cleaning_functions.cost_column import clean_cost_column
from cleaning_functions.coordinates_columns import coordinates_generator
from cleaning_functions.name_column import clean_name_column
from cleaning_functions.phone_column import clean_phone_column
from cleaning_functions.drop_columns import drop_columns
from cleaning_functions.drop_indexes import drop_empty_rows
from cleaning_functions.rates_column import clean_rates
from cleaning_functions.drop_duplicates import drop_duplicated_rows
df = pd.read_csv("zomato.csv")

In [2]:
def clean_dataframe(df):

    clean_cuisine_column(df)
    clean_cost_column(df)
    coordinates_generator(df)
    clean_name_column(df)
    clean_phone_column(df)
    clean_rates(df)
    drop_columns(df)
    drop_empty_rows(df)
    drop_duplicated_rows(df)

    return df


  
if __name__ == '__main__':
    clean_dataframe(df)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12066 entries, 0 to 51714
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   url        12066 non-null  object
 1   address    12066 non-null  object
 2   name       12066 non-null  object
 3   rate       9061 non-null   float64
 4   votes      12066 non-null  int64
 5   phone      12066 non-null  object
 6   location   12066 non-null  object
 7   rest_type  12010 non-null  object
 8   cuisines   12066 non-null  object
 9   cost       12066 non-null  object
 10  latitude   12066 non-null  float64
 11  longitude  12066 non-null  float64
dtypes: float64(3), int64(1), object(8)
memory usage: 1.2+ MB

In [4]:
df["rate"].unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4. , 4.2, 3.9, 3.1, 3. , 3.2, 3.3, 2.8,
       4.4, 4.3, nan, 2.9, 3.5, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2,
       2.3, 4.8, 4.9, 2.1, 2. , 1.8])

In [5]:
df["phone"].tail(20)

51566                  919916297890
51567                  919900519019
51569    919164992304, 919108004477
51571                  919916317138
51572                  918880761777
51573                  919740039742
51577                  919886431461
51578    919964590205, 918971835511
51587                  916361957990
51595                  919740292604
51606    918061224716, 918061224717
51607                   08049652769
51610                  918071117272
51611                  919535948061
51614                  918123358857
51627    919739549643, 917892657455
51628    919663517066, 919686861135
51632                  919164562939
51677                   08065951222
51714                     No number
Name: phone, dtype: object

In [6]:
df["cost"].unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1200', '350', '250',
       '950', '1000', '1500', '1300', '199', '80', '1100', '160', '1600',
       '230', '130', '50', '190', '1700', 'nan', '1400', '180', '1350',
       '2200', '2000', '1800', '1900', '330', '2500', '2100', '3000',
       '2800', '3400', '40', '1250', '3500', '4000', '2400', '2600',
       '120', '1450', '469', '70', '60', '560', '240', '360', '1050',
       '2300', '4100', '1650', '2700', '4500', '140'], dtype=object)

In [7]:
df["cuisines"].head()

0    [North Indian, Mughlai, Chinese]
1       [Chinese, North Indian, Thai]
2            [Cafe, Mexican, Italian]
3        [South Indian, North Indian]
4          [North Indian, Rajasthani]
Name: cuisines, dtype: object

In [8]:
df["latitude"].head(10)

0    12.965218
1    12.963263
2    12.970278
3    12.962263
4    12.945161
5    12.942237
6    12.949566
7    12.967577
8    12.961953
9    12.969896
Name: latitude, dtype: float64

In [9]:
df["rest_type"].sample(10)

13669     Casual Dining
41483    Dessert Parlor
16181          Delivery
10032       Quick Bites
44367       Quick Bites
8770        Quick Bites
24538       Quick Bites
42659       Quick Bites
325         Quick Bites
1714        Lounge, Bar
Name: rest_type, dtype: object